.div-registrar{
   background:blue;
   border: 2px solid orange;
   width: 15%;
}

h3{
   margin-bottom:0%; 
   /*text-align: left;*/
}
hr{
   border:1px solid #5c5959; 
   width: 18%;  
   margin-top:0;
}
p{
   text-align: left;
}